<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header">Delete Inventory</header>

<form method="post">


    <th:block th:each="item : ${inventory}">
        <div class="form-group">
        <label>
            <span th:text="${item.name}"></span>
            <input type="checkbox" name="itemIds" th:value="${item.id}" class="form-control">
        </label>
        </div>
    </th:block>


    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>