<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Marketplace Metrics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <nav th:fragment="header" >
        <h1 th:text="${title}" class="jumbotron text-center">Marketplace Metrics</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="">Cash Flow</a></li>
            <li class="nav-item"><a class="nav-link" href="/inventory/all">All Inventory</a></li>
            <li class="nav-item"><a class="nav-link" href="/inventory/add">Add Item</a></li>
            <li class="nav-item"><a class="nav-link" href="/inventory/sold">Items Sold</a></li>
            <li class="nav-item"><a class="nav-link" href="/inventory/bought">Items Bought</a></li>
            <li class="nav-item"><a class="nav-link" href="/inventory/delete">Delete Inventory</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
        </ul>
        <br>
    </nav>
</body>
</html>